apiVersion: v1
kind: ConfigMap
metadata:
  name: k8s-image-puller
type: Opaque
data:
  IMAGES: >
    che-remote-plugin-runner-java11=eclipse/che-remote-plugin-runner-java11:7.0.0;
    che-remote-plugin-runner-java8=eclipse/che-remote-plugin-runner-java8:7.0.0;
    che-theia-endpoint-runtime=eclipse/che-theia-endpoint-runtime:7.0.0;
    che-theia=eclipse/che-theia:7.0.0;
    che-unified-plugin-broker=eclipse/che-unified-plugin-broker:v0.19;
    che-endpoint-watcher=eclipse/che-endpoint-watcher:nightly;
    che-jwtproxy=eclipse/che-jwtproxy;
    tutorial-tools=quay.io/rhdevelopers/tutorial-tools:0.0.1;
    container-tool=quay.io/rhdevelopers/container-tools:0.0.1;
    clients=quay.io/rhdevelopers/clients:0.0.1;
    customer=quay.io/rhdevelopers/istio-tutorial-customer;
    customer-v1=quay.io/rhdevelopers/istio-tutorial-customer:v1;
    preference=quay.io/rhdevelopers/istio-tutorial-preference;
    preference-v1=quay.io/rhdevelopers/istio-tutorial-preference:v1;
    recommendation-v1=quay.io/rhdevelopers/istio-tutorial-recommendation:v1;
    recommendation-v2=quay.io/rhdevelopers/istio-tutorial-recommendation:v2;
    greeter-quarkus=quay.io/rhdevelopers/knative-tutorial-greeter:quarkus;
    prime-generator=quay.io/rhdevelopers/prime-generator:v27-quarkus;
  DAEMONSET_NAME: "kubernetes-image-puller"
  CACHING_INTERVAL_HOURS: "1"
  OPENSHIFT_PROXY_URL: "ignored"
  OIDC_PROVIDER: "ignored"
  NAMESPACE: "rhd-workshop-infra"
  IMPERSONATE_USERS: "ignored"
  CACHING_MEMORY_REQUEST: "100Mi"
  CACHING_MEMORY_LIMIT: "200Mi"
  SERVICE_ACCOUNT_ID: "ignored"
  SERVICE_ACCOUNT_SECRET: "ignored"
  MULTICLUSTER: "false"